.auth {
  background-color: #dadada;
  border-radius: 50px;
  width: 40%;
  padding: 30px;
  margin: 50px 30px 50px 55%;
  box-shadow: 10px 10px 5px 0px rgba(38, 38, 38, 0.75);
}

.auth h1 {
  text-align: center;
}

.auth img {
  height: 150px;
  margin-left: 20%;
}

.auth h3 {
  text-align: center;
  margin: 30px 0;
}

.auth .option {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.auth .option h5 {
  margin-right: 20px;
  font-weight: 400;
  font-size: 18px;
}

.auth .option button {
  width: 20%;
  color: #000;
  border: none;
  background-color: #8ad2dd;
  font-weight: 500;
  border-radius: 50px;

  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #096192 50%,
    #096192
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
}

.auth .option button:hover {
  background-position: 0 0;
  color: #fff;
}

.auth .item {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.auth p {
  font-weight: 700;
  font-size: 20px;
}

.auth .sub-item {
  width: 70%;
  display: flex;
}

.auth input {
  width: 90%;
  border-radius: 50px 0px 0 50px;
  border: 1px solid gray;
  height: 57px;
  box-shadow: 10px 10px 5px 0px rgba(38, 38, 38, 0.12);
  padding: 20px;
  border-right: none;
}

.auth input.btn {
  border-radius: 50px;
  height: 40px;
  padding: 0;
}

.auth input:focus {
  outline: none;
}

.auth i {
  background-color: white;
  line-height: 35px;
  border: 1px solid gray;
  border-radius: 0px 50px 50px 0;
  padding: 10px;
  border-left: none;
}

.auth .btn {
  width: 20%;
  color: #fff;
  border: none;
  background-color: #096192;
  font-weight: 500;
  margin-left: 80%;
  box-shadow: none;

  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #8ad2dd 50%,
    #8ad2dd
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
}

.auth .btn:hover {
  background-position: 0 0;
  color: #000;
}
